<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
	<Configuration>Release</Configuration>
	<Platform>Any CPU</Platform>
	<PublishDir>..\aaxclean-cli-bin\native\win32\</PublishDir>
	<PublishProtocol>FileSystem</PublishProtocol>
	<TargetFramework>net9.0</TargetFramework>
	<RuntimeIdentifier>win-x86</RuntimeIdentifier>
	<SelfContained>true</SelfContained>
	<PublishAot>true</PublishAot>
	<DebugType>None</DebugType>
	<DebugSymbols>False</DebugSymbols>
  </PropertyGroup>
</Project>