# build-linux.yml
---
name: build

on:
  workflow_call:
    inputs:
      aaxclean-version:
        type: string
      architecture:
        type: string
      native:
        type: string
      dotnet-version:
        type: string

jobs:
  build:
    name: "mac-${{ inputs.architecture }} ${{ inputs.native }}"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
 
      - name: Publish
        id: publish
        working-directory: ./src
        run: |
          NATIVE=$([ "${{ inputs.native }}" == "Native" ] && echo "true" || echo "false")
          
          dotnet  publish aaxclean-cli.csproj \
              --os osx \
              --arch ${{ inputs.architecture }} \
              --configuration Release \
              --output ./../bin \
              -p:PublishProtocol=FileSystem \
              -p:SelfContained=true \
              -p:PublishAot=$NATIVE

      - name: Build bundle
        id: bundle
        working-directory: ./bin
        run: |
          NATIVE=$([ "${{ inputs.native }}" == "Native" ] && echo "-native" || echo "")
          artifact="aaxclean-cli-v${{ inputs.aaxclean-version }}-macOS-${{ inputs.architecture }}$NATIVE.tgz"
                    
          tar -cvz -f "$artifact" *
          echo "artifact=${artifact}" >> "${GITHUB_OUTPUT}"
          
      - name: Publish bundle
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.bundle.outputs.artifact }}
          path: ./bin/${{ steps.bundle.outputs.artifact }}
          if-no-files-found: error
          retention-days: 7