# build-linux.yml
# Reusable workflow that builds the Linux and MacOS (x64 and arm64) versions of Libation.
---
name: build

on:
  workflow_call:
    inputs:
      aaxclean-version:
        type: string
      architecture:
        type: string
      native:
        type: string
      dotnet-version:
        type: string

jobs:
  build:
    name: "linux-${{ inputs.architecture }} ${{ inputs.native }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Publish
        id: publish
        working-directory: ./src
        run: |
          NATIVE=$([ "${{ inputs.native }}" == "Native" ] && echo "true" || echo "false")
          echo $NATIVE
          
          dotnet publish aaxclean-cli.csproj \
              --os linux \
              --arch ${{ inputs.architecture }} \
              --configuration Release \
              --output ./../bin \
              -p:PublishProtocol=FileSystem \
              -p:SelfContained=true \
              -p:PublishAot=$NATIVE

      - name: Build bundle
        id: bundle
        working-directory: ./bin
        run: |
          NATIVE=$([ "${{ inputs.native }}" == "Native" ] && echo "-native" || echo "")
          artifact="aaxclean-cli-v${{ inputs.aaxclean-version }}-linux-${{ inputs.architecture }}$NATIVE.tar.gz"
                    
          tar -cvz -f "$artifact" *
          echo "artifact=${artifact}" >> "${GITHUB_OUTPUT}"
          
      - name: Publish bundle
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.bundle.outputs.artifact }}
          path: ./bin/${{ steps.bundle.outputs.artifact }}
          if-no-files-found: error
          retention-days: 7